@font-face {
    font-family: 'Tiempos Headline';
    src: url('TiemposHeadline-Bold.woff2') format('woff2'),
        url('TiemposHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

